<%- include('partials/header') -%>
<%- include('partials/navbar') -%>



<%= productSortedById.name%>
<div class="row-fluid produktWahlRow">
  <div class="col-xl-8 col-lg-8 col-sm-12 col-12 produktWahlImg" style=<%= productSortedById.url%>
    
  </div>
  <div class="col-xl-4 col-lg-4 col-sm-12 col-12 produktWahlDiscription"></div>
  </div>





  <%- include('partials/footer') -%>